*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.wrapper{
    margin: 25px;
    width: 800px;
}
.red{
    color: red;
    font-weight: bold;
}
.main-content p{
    margin: 25px 0px;
    width: 600px;
}
a{
    color: blue;
    display: inline-block;
}
.head{
    margin-left: 500px;
}